@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,Helvetica,sans-serif;
}

body{
  background:#f4f6f9;
}

.container{
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  width:400px;
  background:white;
  padding:30px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,.1);
}

h1{
  text-align:center;
  margin-bottom:25px;
}

input{
  width:100%;
  padding:12px;
  margin:10px 0;
  border:1px solid #ccc;
  border-radius:5px;
}

button{
  width:100%;
  padding:12px;
  margin-top:10px;
  background:#2563eb;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
  font-size:16px;
}

button:hover{
  background:#1d4ed8;
}

p{
  text-align:center;
  margin-top:20px;
}

a{
  color:#2563eb;
  text-decoration:none;
}



.navbar{
    width:100%;
    height:70px;
    background:#2563eb;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 50px;
}

.navbar h2{
    color:white;
}

.navbar div{
    display:flex;
    gap:20px;
    align-items:center;
}

.navbar a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.navbar button{
    width:120px;
    margin:0;
}